Flask==3.0.3
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-PyMongo==2.3.0
msal==1.31.0
PyJWT==2.3.0
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.32.3
pydantic==1.10.2
pandas
redis
pymssql
gunicorn
six
beautifulsoup4